<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA488E32241D3E7A00A37153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA488E3A241D3E7A00A37153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA4E1F7E2416F59B002DE683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA4E1F8F2416F772002DE683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA4E1F972416F772002DE683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8752BF241839EE00EB759B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8752C7241839EE00EB759B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE0B4A8241ACA2E0096A456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE15BB624229C2400362B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE15C182422A81A00362B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE15C2D2422A81B00362B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF26B6924216E46006935A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
